# Importing Libraries

In [15]:
import numpy as np
import pandas as pd

In [8]:
# Load the dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
wine = pd.read_csv(url, delimiter=';')
wine = wine.sample(n=150, random_state=42)

In [9]:
wine.shape

(150, 12)

In [10]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,8.127333,0.518133,0.245933,2.420333,0.082833,14.780000,44.226667,0.996511,3.323400,0.658533,10.412000,5.673333
std,1.786485,0.170028,0.184744,1.168348,0.036922,9.531206,30.714784,0.001889,0.151307,0.148285,1.060497,0.831403
min,5.000000,0.180000,0.000000,1.200000,0.044000,1.000000,10.000000,0.990800,2.980000,0.390000,9.000000,3.000000
25%,6.800000,0.390000,0.080000,1.900000,0.068000,7.000000,22.250000,0.995462,3.220000,0.560000,9.500000,5.000000
50%,7.700000,0.520000,0.230000,2.100000,0.078000,12.000000,34.000000,0.996500,3.340000,0.610000,10.000000,6.000000
75%,9.100000,0.638750,0.387500,2.500000,0.086000,18.750000,59.500000,0.997600,3.410000,0.740000,11.000000,6.000000
max,15.000000,0.975000,0.680000,8.600000,0.422000,52.000000,153.000000,1.001400,3.720000,1.170000,14.000000,8.000000

In [11]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
803,7.7,0.56,0.08,2.50,0.114,14.0,46.0,0.9971,3.24,0.66,9.6,6
124,7.8,0.50,0.17,1.60,0.082,21.0,102.0,0.9960,3.39,0.48,9.5,5
350,10.7,0.67,0.22,2.70,0.107,17.0,34.0,1.0004,3.28,0.98,9.9,6
682,8.5,0.46,0.31,2.25,0.078,32.0,58.0,0.9980,3.33,0.54,9.8,5
1326,6.7,0.46,0.24,1.70,0.077,18.0,34.0,0.9948,3.39,0.60,10.6,6

In [12]:
wine.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
141,8.3,0.715,0.15,1.8,0.089,10.0,52.0,0.99680,3.23,0.77,9.5,5
1298,5.7,0.600,0.00,1.4,0.063,11.0,18.0,0.99191,3.45,0.56,12.2,6
1094,6.6,0.725,0.09,5.5,0.117,9.0,17.0,0.99655,3.35,0.49,10.8,6
527,7.0,0.380,0.49,2.5,0.097,33.0,85.0,0.99620,3.39,0.77,11.4,6
905,9.2,0.580,0.20,3.0,0.081,15.0,115.0,0.99800,3.23,0.59,9.5,5

In [13]:
wine.isnull().sum().sort_values(ascending=False)

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [14]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 803 to 905
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         150 non-null    float64
 1   volatile acidity      150 non-null    float64
 2   citric acid           150 non-null    float64
 3   residual sugar        150 non-null    float64
 4   chlorides             150 non-null    float64
 5   free sulfur dioxide   150 non-null    float64
 6   total sulfur dioxide  150 non-null    float64
 7   density               150 non-null    float64
 8   pH                    150 non-null    float64
 9   sulphates             150 non-null    float64
 10  alcohol               150 non-null    float64
 11  quality               150 non-null    int64
dtypes: float64(11), int64(1)
memory usage: 15.2 KB

# Model Building

In [6]:
# Import necessary libraries
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load wine quality dataset
wine_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', delimiter=';')

# Define features and target
X = wine_df.drop('quality', axis=1)
y = wine_df['quality']

# Split dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create decision tree regression model using ID3 algorithm
dt_regressor = DecisionTreeRegressor(criterion='mse', random_state=42)

# Fit the model on the training data
dt_regressor.fit(X_train, y_train)

# Predict on the test data
y_pred = dt_regressor.predict(X_test)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.60625

C:\Users\SPOORTHY\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(